# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [10]:
sinasc_raw = pd.read_csv(r'C:\Users\Gabriel\Documents\Data Science\Data Science EBAC\Módulo 5\Tarefa1\SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [12]:
sinasc_raw.shape

(27028, 69)

In [13]:
sinasc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [29]:
sinasc_1 = sinasc_raw[['IDADEMAE' , 'IDADEPAI' , 'munResNome']]

In [32]:
sinasc_1.isnull().sum()

IDADEMAE          0
IDADEPAI      19421
munResNome        0
dtype: int64

In [78]:
sinasc_1.dropna().groupby('munResNome')[['IDADEMAE' , 'IDADEPAI']].mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.892857  29.548701
Alto Alegre dos Parecis    24.679104  29.179104
Alto Paraíso               22.833333  28.833333
Alvorada D'Oeste           26.825243  30.757282
Ariquemes                  28.133333  32.466667
Buritis                    24.750000  30.812500
Cabixi                     32.166667  34.333333
Cacaulândia                31.000000  36.333333
Cacoal                     26.978605  30.931854
Campo Novo de Rondônia     24.900000  30.500000
Candeias do Jamari         23.684211  29.894737
Castanheiras               28.071429  30.392857
Cerejeiras                 28.361111  31.652778
Chupinguaia                26.888889  29.629630
Colorado do Oeste          31.161290  34.354839
Corumbiara                 29.000000  32.470588
Costa Marques              25.250000  30.613636
Cujubim                    27.400000  31.400000
Espigão D'Oeste            26.808176  31.198113
Governador Jorge Teixeira  25.555556  29.222222
Guajará-Mirim              26.058824  30.470588
Itapuã do Oeste            31.375000  42.500000
Jaru                       28.450704  32.197183
Ji-Paraná                  27.282819  31.132239
Machadinho D'Oeste         26.048077  31.326923
Ministro Andreazza         27.890411  33.849315
Mirante da Serra           26.928571  32.154762
Monte Negro                27.642857  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   27.104167  30.520833
Nova Mamoré                26.051282  31.692308
Nova União                 27.371429  31.371429
Novo Horizonte do Oeste    26.988235  31.588235
Ouro Preto do Oeste        27.109920  31.233244
Parecis                    26.973684  32.473684
Pimenta Bueno              25.449807  29.745174
Pimenteiras do Oeste       32.600000  35.600000
Porto Velho                28.355655  32.352679
Presidente Médici          26.170854  30.150754
Primavera de Rondônia      28.083333  31.888889
Rio Crespo                 26.000000  28.000000
Rolim de Moura             26.549701  30.360479
Santa Luzia D'Oeste        26.043956  30.703297
Seringueiras               25.058824  30.500000
São Felipe D'Oeste         26.979167  31.395833
São Francisco do Guaporé   26.944444  31.638889
São Miguel do Guaporé      27.469136  32.666667
Teixeirópolis              27.454545  31.500000
Theobroma                  24.916667  30.083333
Urupá                      27.116071  31.008929
Vale do Anari              27.133333  34.000000
Vale do Paraíso            25.604651  29.976744
Vilhena                    30.611765  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [79]:
sinasc_2 = sinasc_raw[['DTNASC' , 'ESCMAE' , 'PESO' , 'SEXO']]

In [80]:
sinasc_2.head()

       DTNASC           ESCMAE  PESO       SEXO
0  2019-02-19      8 a 11 anos  3685  Masculino
1  2019-02-21      8 a 11 anos  3055   Feminino
2  2019-02-25      8 a 11 anos  3460   Feminino
3  2019-03-20  12 anos ou mais  2982   Feminino
4  2019-03-23      8 a 11 anos  3310   Feminino

In [41]:
sinasc_2.shape

(27028, 4)

In [42]:
sinasc_2.isnull().sum()

DTNASC      0
ESCMAE    312
PESO        0
SEXO        4
dtype: int64

In [58]:
sinasc_2['DTNASC']  = pd.to_datetime(sinasc_2['DTNASC'] , errors = 'coercs')

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_13720\1533155553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_2['DTNASC']  = pd.to_datetime(sinasc_2['DTNASC'] , errors = 'coercs')

In [60]:
sinasc_2.dtypes

DTNASC    datetime64[ns]
ESCMAE            object
PESO               int64
SEXO              object
dtype: object

In [72]:
filtro_data = sinasc_2[(sinasc_2['DTNASC'].dt.day == 11) & (sinasc_2['DTNASC'].dt.month == 11)]

In [76]:
peso_medio_por_sexo_esc = filtro_data.dropna().groupby(['SEXO' , 'ESCMAE'])['PESO'].mean()

In [77]:
peso_medio_por_sexo_esc

SEXO       ESCMAE
Feminino   12 anos ou mais    3222.083333
           4 a 7 anos         3456.666667
           8 a 11 anos        3295.000000
Masculino  1 a 3 anos         3347.500000
           12 anos ou mais    3458.125000
           4 a 7 anos         3015.363636
           8 a 11 anos        3378.125000
Name: PESO, dtype: float64

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [101]:
sinasc_3 = sinasc_raw[['DTNASC' , 'IDADEPAI' , 'IDADEMAE' , 'munResNome']]

In [125]:
menor_natalidade = sinasc_3.dropna().groupby('munResNome')['DTNASC'].count().sort_values().idxmin()

In [126]:
menor_natalidade

'Rio Crespo'

In [133]:
est_idade_mae = sinasc_3[sinasc_3['munResNome'] == menor_natalidade]['IDADEMAE']

In [138]:
print('A média de idade das mães em {} é {}'.format( menor_natalidade , est_idade_mae.mean()))
print('A idade máxima da mãe em {} é {}'.format( menor_natalidade , est_idade_mae.max()))
print('A idade mínima da mãe em {} é {}'.format( menor_natalidade , est_idade_mae.min()))

A média de idade da mãe em Rio Crespo é 26.66
A idade máxima da mãe em Rio Crespo é 39
A idade mínima da mãe em Rio Crespo é 16

In [145]:
est_idade_pai = sinasc_3[sinasc_3['munResNome'] == menor_natalidade]['IDADEPAI']

In [140]:
print('A média de idade dos pais em {} é {}'.format( menor_natalidade , est_idade_pai.mean()))
print('A idade máxima do pai em {} é {}'.format( menor_natalidade , est_idade_pai.max()))
print('A idade mínima do pai em {} é {}'.format( menor_natalidade , est_idade_pai.min()))

A média de idade dos pais em Rio Crespo é 28.0
A idade máxima do pai em Rio Crespo é 28.0
A idade mínima do pai em Rio Crespo é 28.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [161]:
sinasc_3['QTDFILVIVO'] = sinasc_raw['QTDFILVIVO']

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_13720\1303039115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_3['QTDFILVIVO'] = sinasc_raw['QTDFILVIVO']

In [164]:
sinasc_3['DTNASC'] = pd.to_datetime(sinasc_3['DTNASC'] , errors = 'coercs')

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_13720\3844592049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_3['DTNASC'] = pd.to_datetime(sinasc_3['DTNASC'] , errors = 'coercs')

In [165]:
sinasc_3.dtypes

DTNASC        datetime64[ns]
IDADEPAI             float64
IDADEMAE               int64
munResNome            object
QTDFILVIVO           float64
dtype: object

In [200]:
filtro_marco = sinasc_3.dropna()[sinasc_3['DTNASC'].dt.month == 3]

C:\Users\Gabriel\AppData\Local\Temp\ipykernel_13720\2683160357.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtro_marco = sinasc_3.dropna()[sinasc_3['DTNASC'].dt.month == 3]

In [201]:
est_mun_tx_natalidade = filtro_marco.groupby('munResNome')['QTDFILVIVO']

In [202]:
est_mun_tx_natalidade.mean()

munResNome
Alta Floresta D'Oeste       0.875000
Alto Alegre dos Parecis     0.888889
Alto Paraíso                1.500000
Alvorada D'Oeste            1.200000
Ariquemes                   0.500000
Buritis                     1.533333
Cacoal                      0.926230
Campo Novo de Rondônia      1.333333
Candeias do Jamari          1.000000
Castanheiras                1.750000
Cerejeiras                  1.111111
Chupinguaia                 0.400000
Colorado do Oeste           1.500000
Corumbiara                  2.000000
Costa Marques               0.500000
Cujubim                     2.000000
Espigão D'Oeste             1.100000
Itapuã do Oeste             2.000000
Jaru                        1.111111
Ji-Paraná                   0.705263
Machadinho D'Oeste          0.769231
Ministro Andreazza          1.166667
Mirante da Serra            0.500000
Monte Negro                 0.500000
Nova Brasilândia D'Oeste    0.666667
Nova Mamoré                 1.666667
Nova União                  1.000000
Novo Horizonte do Oeste     1.200000
Ouro Preto do Oeste         0.800000
Parecis                     1.800000
Pimenta Bueno               0.870370
Porto Velho                 1.479167
Presidente Médici           0.928571
Primavera de Rondônia       1.250000
Rolim de Moura              0.712121
Santa Luzia D'Oeste         0.428571
Seringueiras                0.666667
São Felipe D'Oeste          0.000000
São Francisco do Guaporé    0.000000
São Miguel do Guaporé       2.000000
Teixeirópolis               0.333333
Theobroma                   1.000000
Urupá                       1.000000
Vale do Anari               1.333333
Vale do Paraíso             0.500000
Vilhena                     0.687500
Name: QTDFILVIVO, dtype: float64

In [203]:
est_mun_tx_natalidade.max()

munResNome
Alta Floresta D'Oeste       4.0
Alto Alegre dos Parecis     2.0
Alto Paraíso                2.0
Alvorada D'Oeste            3.0
Ariquemes                   1.0
Buritis                     3.0
Cacoal                      7.0
Campo Novo de Rondônia      2.0
Candeias do Jamari          1.0
Castanheiras                3.0
Cerejeiras                  2.0
Chupinguaia                 1.0
Colorado do Oeste           2.0
Corumbiara                  2.0
Costa Marques               1.0
Cujubim                     2.0
Espigão D'Oeste             4.0
Itapuã do Oeste             2.0
Jaru                        3.0
Ji-Paraná                   4.0
Machadinho D'Oeste          1.0
Ministro Andreazza          3.0
Mirante da Serra            1.0
Monte Negro                 1.0
Nova Brasilândia D'Oeste    1.0
Nova Mamoré                 4.0
Nova União                  1.0
Novo Horizonte do Oeste     2.0
Ouro Preto do Oeste         2.0
Parecis                     5.0
Pimenta Bueno               4.0
Porto Velho                 6.0
Presidente Médici           3.0
Primavera de Rondônia       2.0
Rolim de Moura              5.0
Santa Luzia D'Oeste         2.0
Seringueiras                2.0
São Felipe D'Oeste          0.0
São Francisco do Guaporé    0.0
São Miguel do Guaporé       4.0
Teixeirópolis               1.0
Theobroma                   2.0
Urupá                       2.0
Vale do Anari               2.0
Vale do Paraíso             2.0
Vilhena                     2.0
Name: QTDFILVIVO, dtype: float64

In [204]:
est_mun_tx_natalidade.min()

munResNome
Alta Floresta D'Oeste       0.0
Alto Alegre dos Parecis     0.0
Alto Paraíso                1.0
Alvorada D'Oeste            0.0
Ariquemes                   0.0
Buritis                     1.0
Cacoal                      0.0
Campo Novo de Rondônia      1.0
Candeias do Jamari          1.0
Castanheiras                1.0
Cerejeiras                  0.0
Chupinguaia                 0.0
Colorado do Oeste           1.0
Corumbiara                  2.0
Costa Marques               0.0
Cujubim                     2.0
Espigão D'Oeste             0.0
Itapuã do Oeste             2.0
Jaru                        0.0
Ji-Paraná                   0.0
Machadinho D'Oeste          0.0
Ministro Andreazza          0.0
Mirante da Serra            0.0
Monte Negro                 0.0
Nova Brasilândia D'Oeste    0.0
Nova Mamoré                 0.0
Nova União                  1.0
Novo Horizonte do Oeste     1.0
Ouro Preto do Oeste         0.0
Parecis                     1.0
Pimenta Bueno               0.0
Porto Velho                 0.0
Presidente Médici           0.0
Primavera de Rondônia       0.0
Rolim de Moura              0.0
Santa Luzia D'Oeste         0.0
Seringueiras                0.0
São Felipe D'Oeste          0.0
São Francisco do Guaporé    0.0
São Miguel do Guaporé       0.0
Teixeirópolis               0.0
Theobroma                   0.0
Urupá                       0.0
Vale do Anari               0.0
Vale do Paraíso             0.0
Vilhena                     0.0
Name: QTDFILVIVO, dtype: float64

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

Um insight que achei interessante mencionar foi que no munícipio de Rio Crespo, munícipio com menor taxa de natalidade no Estado de Rondônia, apesar de serem computados 50 nascimentos, só possui dados de 1 pai, o que significa a porcentagem de pais que abandonam seus filhos é de 98,0%.